<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MTS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MTS.Properties.Settings>
            <setting name="HW_Type" serializeAs="String">
                <value>Dummy</value>
            </setting>
            <setting name="TaskName" serializeAs="String">
                <value>Task1</value>
            </setting>
            <setting name="IpAddress" serializeAs="String">
                <value>192.168.2.3</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>502</value>
            </setting>
            <setting name="ChannelsConfigFile" serializeAs="String">
                <value>C:/task1.csv</value>
            </setting>
        </MTS.Properties.Settings>
    </applicationSettings>
</configuration>