<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MTS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MTS.Properties.HWSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="MTS.Settings.HWSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="MTS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="MTS.HWSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MTSContext" connectionString="metadata=res://*/MTSModel.csdl|res://*/MTSModel.ssdl|res://*/MTSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KOVACO\SQLEXPRESS;initial catalog=mts;user id=mts_user;password=pasfort55;user instance=False;multipleactiveresultsets=True;App=EntityFramework&quot;"
     providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <MTS.Properties.Settings>
      <setting name="LogFile" serializeAs="String">
        <value>logs.txt</value>
      </setting>
      <setting name="TemplateFile" serializeAs="String">
        <value>template.xml</value>
      </setting>
    </MTS.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <MTS.Properties.HWSettings>
      <setting name="ZeroPlaneNormal" serializeAs="String">
        <value>0,0,0</value>
      </setting>
      <setting name="XYDistance" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="YZDistance" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="XZDistance" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ChannelSettings" serializeAs="Xml">
        <value>
          <ArrayOfChannelSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ChannelSetting>
              <Id>distanceX</Id>
              <Name>Distance Sensor X</Name>
              <RawLow>4095</RawLow>
              <RawHigh>0</RawHigh>
              <RealLow>100</RealLow>
              <RealHigh>0</RealHigh>
            </ChannelSetting>
            <ChannelSetting>
              <Id>distanceY</Id>
              <Name>Distance Sensor Y</Name>
              <RawLow>4095</RawLow>
              <RawHigh>0</RawHigh>
              <RealLow>100</RealLow>
              <RealHigh>0</RealHigh>
            </ChannelSetting>
            <ChannelSetting>
              <Id>distanceZ</Id>
              <Name>Distance Sensor Z</Name>
              <RawLow>4095</RawLow>
              <RawHigh>0</RawHigh>
              <RealLow>100</RealLow>
              <RealHigh>0</RealHigh>
            </ChannelSetting>
            <ChannelSetting>
              <Id>powerfoldCurrent</Id>
              <Name>Powerfold Name</Name>
              <RawLow>4095</RawLow>
              <RawHigh>0</RawHigh>
              <RealLow>4000</RealLow>
              <RealHigh>0</RealHigh>
            </ChannelSetting>
            <ChannelSetting>
              <Id>heatingFoilCurrent</Id>
              <Name>Heating Foil Current</Name>
              <RawLow>4095</RawLow>
              <RawHigh>0</RawHigh>
              <RealLow>4000</RealLow>
              <RealHigh>0</RealHigh>
            </ChannelSetting>
            <ChannelSetting>
              <Id>verticalActuatorCurrent</Id>
              <Name>Vertical ActuatorCurrent</Name>
              <RawLow>4095</RawLow>
              <RawHigh>0</RawHigh>
              <RealLow>2000</RealLow>
              <RealHigh>0</RealHigh>
            </ChannelSetting>
            <ChannelSetting>
              <Id>horizontalActuatorCurrent</Id>
              <Name>Horizontal Actuator Current</Name>
              <RawLow>4095</RawLow>
              <RawHigh>0</RawHigh>
              <RealLow>2000</RealLow>
              <RealHigh>0</RealHigh>
            </ChannelSetting>
            <ChannelSetting>
              <Id>directionLightCurrent</Id>
              <Name>Direction Light Current</Name>
              <RawLow>4095</RawLow>
              <RawHigh>0</RawHigh>
              <RealLow>2000</RealLow>
              <RealHigh>0</RealHigh>
            </ChannelSetting>
            <ChannelSetting>
              <Id>powerSupplyVoltage1</Id>
              <Name>Power Supply Voltage 1</Name>
              <RawLow>4095</RawLow>
              <RawHigh>0</RawHigh>
              <RealLow>10</RealLow>
              <RealHigh>0</RealHigh>
            </ChannelSetting>
            <ChannelSetting>
              <Id>powerSupplyVoltage2</Id>
              <Name>Power Supply Voltage 2</Name>
              <RawLow>4095</RawLow>
              <RawHigh>0</RawHigh>
              <RealLow>10</RealLow>
              <RealHigh>0</RealHigh>
            </ChannelSetting>
          </ArrayOfChannelSetting>
        </value>
      </setting>
    </MTS.Properties.HWSettings>
    <MTS.Settings.HWSettings>
      <setting name="ZeroPlaneNormal" serializeAs="String">
        <value>0,0,0</value>
      </setting>
      <setting name="SondeYPosition" serializeAs="String">
        <value>0,0,0</value>
      </setting>
      <setting name="SondeZPosition" serializeAs="String">
        <value>0,94.4,0</value>
      </setting>
      <setting name="SondeXPosition" serializeAs="String">
        <value>58.8,94.4,0</value>
      </setting>
      <setting name="XYDistance" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="YZDistance" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="XZDistance" serializeAs="String">
        <value>50</value>
      </setting>
    </MTS.Settings.HWSettings>
    <MTS.Properties.Settings>
      <setting name="Protocol" serializeAs="String">
        <value>Dummy</value>
      </setting>
      <setting name="EthercatTaskName" serializeAs="String">
        <value>Task1</value>
      </setting>
      <setting name="ModbusIpAddress" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="ModbusPort" serializeAs="String">
        <value>502</value>
      </setting>
      <setting name="EthercatConfigFile" serializeAs="String">
        <value>task1.csv</value>
      </setting>
      <setting name="ConfigDir" serializeAs="String">
        <value>config</value>
      </setting>
      <setting name="ModbusConfigFile" serializeAs="String">
        <value>moxaConfig.csv</value>
      </setting>
      <setting name="PrinterWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PrinterHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PrinterName" serializeAs="String">
        <value />
      </setting>
      <setting name="ChannelsConfigFile" serializeAs="String">
        <value>analog_channels.xml</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </MTS.Properties.Settings>
    <MTS.HWSettings>
      <setting name="ZeroPlaneNormal" serializeAs="String">
        <value>0,0,0</value>
      </setting>
      <setting name="SondeYPosition" serializeAs="String">
        <value>0,0,0</value>
      </setting>
      <setting name="SondeZPosition" serializeAs="String">
        <value>0,94.4,0</value>
      </setting>
      <setting name="SondeXPosition" serializeAs="String">
        <value>58.8,94.4,0</value>
      </setting>
    </MTS.HWSettings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
