<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MTS.IO.Settings.HWSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MTS.IO.Settings.HWSettings>
            <setting name="ZeroPlaneNormal" serializeAs="String">
                <value>0,0,0</value>
            </setting>
            <setting name="XYDistance" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="YZDistance" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="XZDistance" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ChannelSettings" serializeAs="Xml">
                <value>
                    <ArrayOfChannelSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <ChannelSetting>
                            <Id>distanceX</Id>
                            <Name>Distance Sensor X</Name>
                            <Description>Settings for calibretor X that is measuring distance from mirror glass</Description>
                            <RawLow>4095</RawLow>
                            <RawHigh>0</RawHigh>
                            <RealLow>100</RealLow>
                            <RealHigh>0</RealHigh>
                        </ChannelSetting>
                        <ChannelSetting>
                            <Id>distanceY</Id>
                            <Name>Distance Sensor Y</Name>
                            <Description>Settings for calibretor Y that is measuring distance from mirror glass</Description>
                            <RawLow>4095</RawLow>
                            <RawHigh>0</RawHigh>
                            <RealLow>100</RealLow>
                            <RealHigh>0</RealHigh>
                        </ChannelSetting>
                        <ChannelSetting>
                            <Id>distanceZ</Id>
                            <Name>Distance Sensor Z</Name>
                            <Description>Settings for calibretor Z that is measuring distance from mirror glass</Description>
                            <RawLow>4095</RawLow>
                            <RawHigh>0</RawHigh>
                            <RealLow>100</RealLow>
                            <RealHigh>0</RealHigh>
                        </ChannelSetting>
                        <ChannelSetting>
                            <Id>powerfoldCurrent</Id>
                            <Name>Powerfold Current</Name>
                            <Description>Settings for amphermeter that is measuring current of powerfold actuator</Description>
                            <RawLow>4095</RawLow>
                            <RawHigh>0</RawHigh>
                            <RealLow>4000</RealLow>
                            <RealHigh>0</RealHigh>
                        </ChannelSetting>
                        <ChannelSetting>
                            <Id>heatingFoilCurrent</Id>
                            <Name>Heating Foil Current</Name>
                            <Description>Settings for amphermeter that is measuring current in heating foil</Description>
                            <RawLow>4095</RawLow>
                            <RawHigh>0</RawHigh>
                            <RealLow>4000</RealLow>
                            <RealHigh>0</RealHigh>
                        </ChannelSetting>
                        <ChannelSetting>
                            <Id>verticalActuatorCurrent</Id>
                            <Name>Vertical ActuatorCurrent</Name>
                            <Description>Settings for amphermeter that is measuring current of actuator moveing mirror glass vertically</Description>
                            <RawLow>4095</RawLow>
                            <RawHigh>0</RawHigh>
                            <RealLow>2000</RealLow>
                            <RealHigh>0</RealHigh>
                        </ChannelSetting>
                        <ChannelSetting>
                            <Id>horizontalActuatorCurrent</Id>
                            <Name>Horizontal Actuator Current</Name>
                            <Description>Settings for amphermeter that is measuring current of actuator moveing mirror glass horizontaly</Description>
                            <RawLow>4095</RawLow>
                            <RawHigh>0</RawHigh>
                            <RealLow>2000</RealLow>
                            <RealHigh>0</RealHigh>
                        </ChannelSetting>
                        <ChannelSetting>
                            <Id>directionLightCurrent</Id>
                            <Name>Direction Light Current</Name>
                            <Description>Settings of amphermeter that is measuring direction light current</Description>
                            <RawLow>4095</RawLow>
                            <RawHigh>0</RawHigh>
                            <RealLow>2000</RealLow>
                            <RealHigh>0</RealHigh>
                        </ChannelSetting>
                        <ChannelSetting>
                            <Id>powerSupplyVoltage1</Id>
                            <Name>Power Supply Voltage 1</Name>
                            <Description>Settings for voltmeter that is meausring voltage of power supply 1</Description>
                            <RawLow>4095</RawLow>
                            <RawHigh>0</RawHigh>
                            <RealLow>10</RealLow>
                            <RealHigh>0</RealHigh>
                        </ChannelSetting>
                        <ChannelSetting>
                            <Id>powerSupplyVoltage2</Id>
                            <Name>Power Supply Voltage 2</Name>
                            <Description>Settings for voltmeter that is meausring voltage of power supply 2</Description>
                            <RawLow>4095</RawLow>
                            <RawHigh>0</RawHigh>
                            <RealLow>10</RealLow>
                            <RealHigh>0</RealHigh>
                        </ChannelSetting>
                    </ArrayOfChannelSetting>
                </value>
            </setting>
        </MTS.IO.Settings.HWSettings>
    </userSettings>
</configuration>