<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MTS.IO.HWSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MTS.IO.HWSettings>
            <setting name="XYDistance" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="YZDistance" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="XZDistance" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ZeroPlaneNormal" serializeAs="String">
                <value>0,0,-1</value>
            </setting>
        </MTS.IO.HWSettings>
    </userSettings>
</configuration>