<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MTS.IO.HWSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MTS.IO.HWSettings>
            <setting name="XYDistance" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="YZDistance" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="XZDistance" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ZeroPlaneNormal" serializeAs="String">
                <value>0,0,-1</value>
            </setting>
            <setting name="ChannelSettings" serializeAs="Xml">
                <value>
                    <ArrayOfChannelSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <ChannelSetting>
                            <Id>DistanceX</Id>
                            <Name>Distance Sensor X</Name>
                            <Description>Settings for calibretor X that is measuring distance from mirror glass</Description>
                            <RawLow>0</RawLow>
                            <RawHigh>4095</RawHigh>
                            <RealLow>0</RealLow>
                            <RealHigh>100</RealHigh>
                        </ChannelSetting>
                        <ChannelSetting>
                            <Id>DistanceY</Id>
                            <Name>Distance Sensor Y</Name>
                            <Description>Settings for calibretor Y that is measuring distance from mirror glass</Description>
                            <RawLow>0</RawLow>
                            <RawHigh>4095</RawHigh>
                            <RealLow>0</RealLow>
                            <RealHigh>100</RealHigh>
                        </ChannelSetting>
                        <ChannelSetting>
                            <Id>DistanceZ</Id>
                            <Name>Distance Sensor Z</Name>
                            <Description>Settings for calibretor Z that is measuring distance from mirror glass</Description>
                            <RawLow>0</RawLow>
                            <RawHigh>4095</RawHigh>
                            <RealLow>0</RealLow>
                            <RealHigh>100</RealHigh>
                        </ChannelSetting>
                        <ChannelSetting>
                            <Id>PowerfoldCurrent</Id>
                            <Name>Powerfold Current</Name>
                            <Description>Settings for amphermeter that is measuring current of powerfold actuator</Description>
                            <RawLow>0</RawLow>
                            <RawHigh>4095</RawHigh>
                            <RealLow>0</RealLow>
                            <RealHigh>4000</RealHigh>
                        </ChannelSetting>
                        <ChannelSetting>
                            <Id>HeatingFoilCurrent</Id>
                            <Name>Heating Foil Current</Name>
                            <Description>Settings for amphermeter that is measuring current in heating foil</Description>
                            <RawLow>0</RawLow>
                            <RawHigh>4095</RawHigh>
                            <RealLow>0</RealLow>
                            <RealHigh>4000</RealHigh>
                        </ChannelSetting>
                        <ChannelSetting>
                            <Id>VerticalActuatorCurrent</Id>
                            <Name>Vertical ActuatorCurrent</Name>
                            <Description>Settings for amphermeter that is measuring current of actuator moveing mirror glass vertically</Description>
                            <RawLow>0</RawLow>
                            <RawHigh>4095</RawHigh>
                            <RealLow>0</RealLow>
                            <RealHigh>2000</RealHigh>
                        </ChannelSetting>
                        <ChannelSetting>
                            <Id>HorizontalActuatorCurrent</Id>
                            <Name>Horizontal Actuator Current</Name>
                            <Description>Settings for amphermeter that is measuring current of actuator moveing mirror glass horizontaly</Description>
                            <RawLow>0</RawLow>
                            <RawHigh>4095</RawHigh>
                            <RealLow>0</RealLow>
                            <RealHigh>2000</RealHigh>
                        </ChannelSetting>
                        <ChannelSetting>
                            <Id>DirectionLightCurrent</Id>
                            <Name>Direction Light Current</Name>
                            <Description>Settings of amphermeter that is measuring direction light current</Description>
                            <RawLow>0</RawLow>
                            <RawHigh>4095</RawHigh>
                            <RealLow>0</RealLow>
                            <RealHigh>2000</RealHigh>
                        </ChannelSetting>
                        <ChannelSetting>
                            <Id>PowerSupplyVoltage1</Id>
                            <Name>Power Supply Voltage 1</Name>
                            <Description>Settings for voltmeter that is meausring voltage of power supply 1</Description>
                            <RawLow>0</RawLow>
                            <RawHigh>4095</RawHigh>
                            <RealLow>0</RealLow>
                            <RealHigh>10</RealHigh>
                        </ChannelSetting>
                        <ChannelSetting>
                            <Id>PowerSupplyVoltage2</Id>
                            <Name>Power Supply Voltage 2</Name>
                            <Description>Settings for voltmeter that is meausring voltage of power supply 2</Description>
                            <RawLow>0</RawLow>
                            <RawHigh>4095</RawHigh>
                            <RealLow>0</RealLow>
                            <RealHigh>10</RealHigh>
                        </ChannelSetting>
                    </ArrayOfChannelSetting>
                </value>
            </setting>
        </MTS.IO.HWSettings>
    </userSettings>
</configuration>