<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="MTSContext" connectionString="metadata=res://*/MTSModel.csdl|res://*/MTSModel.ssdl|res://*/MTSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KOVACO\SQLEXPRESS;initial catalog=mts;integrated security=True;user instance=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="MTSContext" connectionString="metadata=res://*/MTSModel.csdl|res://*/MTSModel.ssdl|res://*/MTSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=mts;integrated security=True;user instance=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="MTSContext" connectionString="metadata=res://*/MTSModel.csdl|res://*/MTSModel.ssdl|res://*/MTSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\mts.mdf;integrated security=True;connect timeout=30;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
</configuration>