<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MTS.Simulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MTS.Simulator.Properties.Settings>
            <setting name="PowerfoldMaxCurrent" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="PowerfoldMinCurrent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FoldingTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UnfoldingTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpiralMinCurrent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpiralMaxCurrent" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="BlinkerMinCurrent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BlinkerMaxCurrent" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="LockTime" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="UnlockTime" serializeAs="String">
                <value>1000</value>
            </setting>
        </MTS.Simulator.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
